@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

body {
    background-image: url("https://hunterpie.me/HunterPie/assets/background_tile.png");
    
    font-family: 'Roboto', sans-serif;
    color: #0f0f0f;
}

#headerLogo {
    margin-left: 40px;
    padding: 5px 0px 5px 0px;
}

#navbarBox {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    display: inline-flex;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 2px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    z-index: 1;
}

ul#navbarList {
    display: inline-block;
    list-style: none;
    margin-left: auto;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

#navbarBox ul#navbarList li {
    font-weight: 100;
    text-decoration: none;
    display: inline;
    position: relative;
    top: 35%;
    color: #fefefe;
    background: transparent;
    padding: 36px 10px 35px 10px;
}

#navbarBox ul#navbarList img {
    display: inline-flex;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 5px;
}

#navbarBox.collapse ul#navbarList li  {
    padding: 15px 10px 13px 10px;
}

#navbarBox.collapse h1 {
    font-size: 18px;
}

#navbarBox ul#navbarList li:hover {
    background-color: rgba(255, 255, 255, 0.2);
    
}

#navbarBox ul#navbarList #downloadButton:hover {
    background-color: #85c3ed80;
}

ul#navbarList a {
    text-decoration: none;
    color: #fefefe;
    
}

/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #272727;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(93, 93, 93); 
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(66, 66, 66); 
}

.collapse {
    animation: collapse .5s ease forwards;
}

.show {
    animation: show .5s ease forwards;
}

.opaque {
    animation: opaque .5s ease forwards;
}

/* Animations */
@keyframes opaque {
    from {
        background-color: rgba(0, 0, 0, 0.7);
    }
    to {
        background-color: rgba(0, 0, 0, 0.8);
    }
}

@keyframes collapse {
    from {
        height: 90px;
    }
    to {
        height: 45px;
        background-color: rgba(0, 0, 0, 0.7);
    }
}

@keyframes show {
    from {
        height: 45px;
    }
    to {
        height: 90px;
        background-color: rgba(0, 0, 0, 0.7);
    }
}

/* Footer */

footer {
    position: relative;
    background-color: rgb(29, 29, 29, 0.8);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 2px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    font-family: 'Heebo', sans-serif;
    display: block;
    left: 10%;
    top: 65px;
    width: 81.5%;
    z-index: 0;
    padding: 10px 20px 10px 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    color: #f5eefd;
    font-size: 14px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

footer p {
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #85c3ed;
}

footer a:hover {
    text-decoration: underline;
}