@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&display=swap');
/* Markdown */

.Markdown {
    background-color: rgba(29, 29, 29, 0.959);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 2px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    font-family: 'Heebo', sans-serif;
    z-index: 0;
    color: #f5eefd;
    font-size: 14px;
    display: block;
}

.Markdown h1, h2, h3, h4 {
    padding-bottom: 2px;
    font-weight: 500;
    color: #85c3ed;
    margin-bottom: 0px;
}

.Markdown p {
    margin-top: 3px;
    margin-bottom: 3px;
}

.Markdown img {
    width: 50%;
}

.Markdown new {
    color: #e63737;
    font-size: 12px;
    vertical-align: super;
}

.Markdown strong {
    font-weight: 500;
}

.Markdown a {
    text-decoration: none;
    color: #85c3ed;
}

.Markdown a:hover {
    text-decoration: underline;
}

.Markdown blockquote {
    border-left: solid #85c3ed;
    padding: 1px 0px 1px 5px;
    background: rgb(29, 29, 29, 0.8);
}

.Markdown blockquote img {
    padding-left: 10px;
    padding-top: 10px;
}

.Markdown pre code {
    display: flex;
    overflow: auto;
    background: rgb(29, 29, 29, 0.8);
    border: solid #85c3ed 1px; 
    padding: 5px 5px 5px 5px;
    color: #f5eefd;
    max-width: 1000px;
}

.Markdown code {
    background: rgb(29, 29, 29, 0.8);
    padding: 5px 5px 5px 5px;
    color: #f5eefd;
}

.Markdown table {
    margin-left: auto;
    margin-right: auto;
    background: rgb(29, 29, 29, 0.8);
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 10px;
}

.Markdown table th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: #85c3ed;
    color: #202020;
    font-weight: 500;
    border: 1px solid rgb(29, 29, 29, 0.8);
}


.Markdown table tr:nth-child(even) {
    background-color: #292929;
}

.Markdown table td, th {
    padding: 8px;
    font-size: 13px;
}

.Markdown kbd {
    background-color: rgba(32, 32, 32, 0.424);
    padding: 3px 5px 3px 5px;
    border-radius: 5px;
    color: #eeeeee;
}

.Markdown warning {
    border-left: solid #d02c2c;
    padding: 5px 10px 5px 5px;
    background: rgb(29, 29, 29, 0.8);
    color: #ececec;
}

.Markdown #content_table {
    border-left: solid #85c3ed 2px;
    background: rgb(29, 29, 29, 0.8);
    padding: 20px 0px 10px 40px;
    width: 350px;
}

.Markdown highlight {
    color: #85c3ed;
}

.Markdown details {
    display: block;
    background: rgb(29, 29, 29, 0.8);
    padding: 5px;
    margin-bottom: 5px;
    border-left: 3px solid #85c3ed;
    cursor: pointer;
    transition: 200ms ease-in;
}

.Markdown details summary {
    color: #85c3ed;
    font-weight: 500;
    font-size: 15px;
}

.Markdown details summary {
    outline: 0;
}

.Markdown hr {
    border-color: #85c3ed;
    border-top: 0px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.Markdown ns {
    font-family: consolas;
    color: #458cca;
    background: #1f1f1f;
    padding: 5px 10px 5px 10px;
}

.Markdown properties {
    font-size: 15px;
}

.Markdown Type {
    color: #37e7a3;
    font-family: consolas;
    font-weight: 500;
}

.Markdown Enum {
    color: #B8D7A3;
    font-family: consolas;
    font-weight: 500;
}

.Markdown Interface {
    color: #bde475;
    font-family: consolas;
    font-weight: 500;
}

.Markdown params {
    color: #e2e2e2;
    background: #1f1f1f;
    padding: 5px 10px 5px 10px;
}