@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&display=swap');
/* Markdown */

#MarkdownBox {
    position: relative;
    background-color: rgb(29, 29, 29, 0.8);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 2px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    font-family: 'Heebo', sans-serif;
    display: block;
    left: auto;
    right: auto;
    top: 80px;
    min-height: 100vh;
    z-index: 0;
    padding: 10px 30px 10px 30px;
    margin-bottom: 20px;
    border-radius: 5px;
    color: #f5eefd;
    font-size: 14px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#MarkdownBox h1, h2, h3 {
    padding-bottom: 2px;
    font-weight: 500;
    color: #85c3ed;
    
}

#MarkdownBox strong {
    font-weight: 500;
}

#MarkdownBox a {
    text-decoration: none;
    color: #85c3ed;
}

#MarkdownBox a:hover {
    text-decoration: underline;
}

#MarkdownBox blockquote {
    border-left: solid #85c3ed;
    padding: 1px 0px 1px 5px;
    background: rgb(29, 29, 29, 0.8);
}

#MarkdownBox blockquote img {
    padding-left: 10px;
    padding-top: 10px;
}

#MarkdownBox pre code {
    display: flex;
    overflow: auto;
    background: rgb(29, 29, 29, 0.8);
    border: solid #85c3ed 1px; 
    padding: 5px 5px 5px 5px;
    color: #f5eefd;
}

#MarkdownBox code {
    background: rgb(29, 29, 29, 0.8);
    padding: 5px 5px 5px 5px;
    color: #f5eefd;
}

#MarkdownBox table {
    margin-left: auto;
    margin-right: auto;
    background: rgb(29, 29, 29, 0.8);
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 10px;
}

#MarkdownBox table th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: #85c3ed;
    color: #202020;
    font-weight: 500;
    border: 1px solid rgb(29, 29, 29, 0.8);
}


#MarkdownBox table tr:nth-child(even) {
    background-color: #292929;
}

#MarkdownBox table td, th {
    padding: 8px;
    font-size: 13px;
}

#MarkdownBox kbd {
    background-color: rgba(32, 32, 32, 0.424);
    padding: 3px 5px 3px 5px;
    border-radius: 5px;
    color: #eeeeee;
}

#MarkdownBox warning {
    border-left: solid #d02c2c;
    padding: 5px 10px 5px 5px;
    background: rgb(29, 29, 29, 0.8);
    color: #ececec;
}

#MarkdownBox #content_table {
    border-left: solid #85c3ed 2px;
    background: rgb(29, 29, 29, 0.8);
    padding: 20px 0px 10px 40px;
}

#MarkdownBox highlight {
    color: #85c3ed;
}

#MarkdownBox details {
    display: block;
    background: rgb(29, 29, 29, 0.8);
    padding: 5px;
    margin-bottom: 5px;
    border-left: 3px solid #85c3ed;
    cursor: pointer;
    transition: 200ms ease-in;
}

#MarkdownBox details summary {
    color: #85c3ed;
    font-weight: 500;
    font-size: 15px;
}

#MarkdownBox details summary {
    outline: 0;
}